.letter {
    border: solid 1px #000;
    width:  400px;
    margin:  40px auto;
}

.letter h1 {
    border:  solid 1px #990000;
    background-color: #990000;
    width: 420px;
    position: relative;
    left: -10px;
    text-align: center;
}

.letter h1::before {
   content: '';
   position: absolute;
   left: -1px;
   top: -10px;
   border: solid 5px #000;
   border-color: transparent #7a0000 #7a0000 transparent;
}

.letter p {
    padding: 10px;
}

div.actions{
    display: inline-block;
    margin: 0px 10px 10px 10px;
}